# Node modules
/node_modules/

# Vite build output
/dist/

# Env files
.env
.env.*.local

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor folders
.vscode/
.idea/

# Testing
/coverage/

# Local SSL certs (optional)
/*.pem